<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DZ eShop</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <nav>
    <ul>
      <div class="brand">
        <li><a href="/products">DZ eShop</a></li>
      </div>
      <div class="menu">
        <% if (!currentUser) { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        <% } else { %>
          <li><a id='username' href="#">You are signed in as: <strong><%= currentUser.username %></strong></a></li>
          <li><a href="/logout">Logout</a></li>
        <% } %>
      </div>
    </ul>
  </nav>


 

 