<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DZ eShop</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <nav>
    <ul>
      <div class="brand">
        <li><a href="/products">Ahmed Chebli</a></li>
      </div>
      <div class="menu">
        <% if (!currentUser) { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        <% } else { %>
          <li><a id='username' href="#">You are signed in as: <strong><%= currentUser.username %></strong></a></li>
          <li><a href="/logout">Logout</a></li>
        <% } %>
      </div>
    </ul>
  </nav>

 