<%- include('../partials/header') %> 

  <div class="form-container">
    <h1>Create a New Comment to <strong><%= product.name %></strong></h1>
    <hr>
    <form action="/products/<%= product._id %>/comments" method="POST">
      <!-- <input type="name" name="text" placeholder="text"> -->
      <textarea name="text" id="" cols="30" rows="10"></textarea>
      <button>Add a New Comment</button>
    </form>
  </div>