<%- include('../partials/header') %> 

  <div class="form-container">
    <h1>Create a New Comment to <%= product.name %></h1>
    <hr>
    <form action="/products/<%= product._id %>/comments" method="POST">
      <input type="name" name="text" placeholder="text">
      <button>Add a New Comment</button>
    </form>
  </div>