:root {
  --primary-color: rgb(90, 90, 90); 
  --main-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  color: var(--primary-color);
  min-height: 90vh;
}

/**************** HEADER **************/
header {
  background:  linear-gradient(
   rgba(142, 142, 145, 0.5),
   rgba(143, 143, 145, 0.5)), 
     url("https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60") no-repeat; 
  background-size: cover;
  height: 250px;
}


/**************** NAVIGATION BAR **************/
nav {
  padding: 10px;
  background: linear-gradient(
    to top,
   rgb(247, 246, 246), 
   rgb(179, 179, 179), 
   rgb(154, 154, 168));
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

nav .brand {
  text-transform: uppercase; 
  font-weight: 200;
}

ul .menu {
  display: flex;
  margin-right: 15px;
  font-size: .4rem;
}

#username {
  font-style: italic;
  font-size: .6rem;
  color: green;
  margin-right: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

ul li {
  margin-right: 10px;
}

ul li a {
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;
}

.menu li a {
  font-size: 0.6rem;
}

p {
  font-size: 0.9rem;
  line-height: 23px;
}

hr {
  height: 1px;
  border-color: #fafafa;
  border-radius: 20px;
}

a {
  color: #ccc;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.7rem;
}


/**************** CARD STYLES **************/
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 23%; 
  margin: 10px 3px; 
  border: 1px solid #ccc;
  box-shadow: 3px 7px 12px -4px #777777;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.card h1 {
  text-transform: uppercase;
  font-family: var(--main-font-family);
  font-size: 0.8rem; 
  font-weight: 200;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: fill;
}

.card img:hover {
  transform: scale(.98);
}


/**************** SHOW PAGE STYLES**************/
.show-container {
  max-width: 700px;
  margin: 50px auto 0;
  padding: 5px;
}

.show-container h1 {
  text-transform: uppercase; 
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.9rem;
}

.show-container img {
  width: 100%; 
  height: 300px;
}

.post {
  position: relative;
  margin-bottom: 100px;
}

#edit-button {
  position: absolute;
  left: 0;
  bottom: -50px;
  padding: 2px 20px; 
  color: orange;
}

#edit-button a {
  color: orange;
  border-radius: 3px;
}

#delete-button {
  position: absolute;
  left: 75px;
  bottom: -50px;
  padding: 2px 20px; 
  color: red;
}

.post button {
  position: absolute;
  right: 0;
  bottom: -50px;
  padding: 5px;
}

.author-box { 
  border: 1px solid #ccc;
  padding: 10px; 
  margin-bottom: 5px;
  border-radius: 3px;
}

#comment-author {
  font-size: 0.7em;
  letter-spacing: 1px;
  text-shadow: .5px .5px  #000000;
  margin-bottom: 0; 
  padding-bottom: 0;
}


/**************** FORMS STYLES **************/
.form-container {
  max-width: 600px;
  margin: auto;
  border: 1px solid #ccc;
  padding: 50px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 3px 7px 12px -4px #777777;
}

.form-container h1 {
  font-weight: 200; 
  text-transform: uppercase;
  letter-spacing: normal;
  font-size: .8em;
  margin-left: 6px;
}

.form-container input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 7px;
  outline: none;
}


/*********** Buttons Styles **************/
.btn {
  display: flex; 
  margin-bottom: 7px;
}

.btn button,
 button {
  margin: 3px 3px 3px 0; 
  font-size: 0.8em;
  padding: 2px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  position: relative;
  background: linear-gradient(
    to bottom right,
   rgb(247, 246, 246),
   rgb(154, 154, 168));
  color: #777;
  z-index: 10;
}

.btn button a,
 button {
  color: #777;
  z-index: 20;
}

.btn button a::before,
 button::before {
  content: '';  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 10px;;
  background-color: #fff;
  
  
  transition: .5s;
  transform: scaleX(0);
  transform-origin: left;
}

.btn button a:hover::before, 
 button:hover::before {
  transform: scaleX(1);
  cursor: pointer;
}


#date {
  font-size: 0.85em;
  font-variant: small-caps;
}

.card-bottom { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

/**************** FOOTER **************/
footer {
  border-top: 1px solid #ccc;
  text-align: center;
  padding-top: 7px;
  margin-top: 10px;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/**************** MEDIA QUERIES **************/
@media (max-width: 800px) {
  .card {
    flex: 75%;
    max-width: 75%;
  }
}

@media (max-width: 600px) {
  .card {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 480px) {
  .card {
    flex: 100%;
    max-width: 100%;
  }
}