<%- include('../partials/header') %> 

  <div class="form-container">
    <h1>Create a New Product</h1>
    <hr>
    <form action="/products" method="POST">
      <input type="name" name="name" placeholder="Product Name">
      <input type="text" name="image" placeholder="Image URL">
      <input type="text" name="description" placeholder="Description">
      <button>Add a New Product</button>
    </form>
  </div>